<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college details</title>
    <link rel="stylesheet" href="/collegestyle.css">
    <style>
        

    </style>
</head>
<body>
    <h1>12th Groups</h1>
    <!-- <div class="input">
        <input type="text" style="margin-left:auto;">
        <button>search</button>
    </div><br><br> -->

<div class="colleges-container">

    <div class="college">
        <h2>Biology - Maths</h2>
        <h4>Subjects</h4>
        <ul>
            <li>Tamil</li>
            <li>English</li>
            <li>Maths</li>
            <li>Physics</li>
            <li>Chemistry</li>
            <li>Biology</li>
        </ul>
    </div>
    
    <div class="college">
        <h2>Computer Science - Maths</h2>
        <h4>Subjects</h4>
        <ul>
            <li>Tamil</li>
            <li>English</li>
            <li>Maths</li>
            <li>Physics</li>
            <li>Chemistry</li>
            <li>Computer Science</li>
        </ul>
    </div>
    
    <div class="college">
        <h2>Arts - Computer Application</h2>
        <h4>Subjects</h4>
        <ul>
            <li>Tamil</li>
            <li>English</li>
            <li>Economics</li>
            <li>Commerce</li>
            <li>Accountancy</li>
            <li>Computer Science</li>
        </ul>
    </div>
</div>
<div class="colleges-container">
    <div class="college">
        <h2>Arts - Business Maths</h2>
        <h4>Subjects</h4>
        <ul>
            <li>Tamil</li>
            <li>English</li>
            <li>Economics</li>
            <li>Commerce</li>
            <li>Accountancy</li>
            <li>Statistics</li>
        </ul>
    </div>
</div>

</body>
</html>