<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>college details</title>
    <link rel="stylesheet" href="collegestyle.css">
    <style>
        .hide{
            display: none;
        }
    </style>
</head>
<body>
    <h1>Law Colleges</h1>
    <div class="input">
        <input type="text" id="user-input" style="margin-left:auto;">
        <button id="search">search</button>
    </div><br><br>

<div class="colleges-container">
    <div class="college" onclick="redirectTo1()">
        <img src="college1.jpg" alt="college 1">
        <h2 class="name">Tamil Nadu Dr. Ambedkar Law University</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Chennai , TamilNadu</p>
    </div>
    
    <div class="college" onclick="redirectTo2()">
        <img src="college2.jpg" alt="college 2">
        <h2 class="name">Government Law College</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Madurai , TamilNadu</p>
    </div>
    
    <div class="college" onclick="redirectTo3()">
        <img src="college3.jpg" alt="college 3">
        <h2 class="name">Tamil Nadu Dr. Ambedkar Law University, School of Excellence in Law</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Chennai , TamilNadu</p>
    </div>
 
    <div class="college" onclick="redirectTo4()">
        <img src="college4.jpg" alt="college 4">
        <h2 class="name">School of Law, Vels Institute of Science, Technology and Advanced Studies</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Chennai , TamilNadu</p>
    </div>

    <div class="college" onclick="redirectTo5()">
        <img src="college5.jpg" alt="college 5">
        <h2 class="name">School of Law, Annamalai University</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Chidambaram , TamilNadu</p>
    </div>

    <div class="college" onclick="redirectTo6()">
        <img src="college6.jpg" alt="college 6">
        <h2 class="name">School of Law, Sastra University</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Thanjavur , TamilNadu</p>
    </div>
 
    <div class="college" onclick="redirectTo7()">
        <img src="college7.jpg" alt="college 7">
        <h2 class="name">School of Law, Sathyabama Institute of Science and Technology</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Chennai , TamilNadu</p>
    </div>

    <div class="college" onclick="redirectTo8()">
        <img src="college8.jpg" alt="college 8">
        <h2 class="name">School of Law, SRM Institute of Technology</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Kanchipuram , TamilNadu</p>
    </div>

    <div class="college" onclick="redirectTo9()">
        <img src="college9.jpg" alt="college 9">
        <h2 class="name">School of Law, Ponnaiyah Ramajayam Institute of Science and Technology University</h2><br>
        <p>NAAC Grade : NA</p>
        <p>NIRF Ranking : NA</p>
        <p class="location">Location : Thanjavur , TamilNadu</p>
    </div>
</div>
<script>
    function redirectTo1() {
        window.location.href = "https://www.tndalu.ac.in/";
    }
    function redirectTo2() {
        window.location.href = "https://glccbe.ac.in/";
    }
    function redirectTo3() {
        window.location.href = "https://tndalu.ac.in/soel.php";
    }
    function redirectTo4() {
        window.location.href = "https://vistas.ac.in/school-of-law/";
    }
    function redirectTo5() {
        window.location.href = "https://annamalaiuniversity.ac.in/index.php";
    }
    function redirectTo6() {
        window.location.href = "https://law.sastra.edu/";
    }
    function redirectTo7() {
        window.location.href = "https://www.sathyabama.ac.in/academics/schools/school-law";
    }
    function redirectTo8() {
        window.location.href = "https://www.srmist.edu.in/college/college-of-law/";
    }
    function redirectTo9() {
        window.location.href = "https://www.prist.ac.in/school-of-law/";
    }
    let input_value = document.getElementById("user-input");
    let btn = document.getElementById("search");
    btn.addEventListener("click", search, false);

    function search(){
        let card = document.querySelectorAll(".college");
        card.forEach((element)=> {
            console.log(element);
            let name = element.querySelector(".name");
            const isVisible = name.textContent.toLowerCase().includes(input_value.value.toLowerCase());
            if(!isVisible){
                element.classList.add("hide");
            }
            else{
                element.classList.remove("hide");
                
            }
        })
    }
    
</script>


</body>
</html>